<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>My attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="myAttendance?.length > 0; else noData">
    <ion-card *ngFor="let person of myAttendance" class="my-attendance-card">
      <ion-card-header>
        <ion-card-title>{{ person.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="label-details">
          <div class="date">
            <ion-icon name="calendar-outline" class="icon icon-md"></ion-icon>
            {{ person.date | date: 'dd-MMM-yyyy' }}
          </div>

          <div class="timing">
            <ion-icon name="time-outline" class="icon icon-md"></ion-icon>
            {{ person.inTime }} - {{ person.outTime }}
          </div>

          <div class="duration">
            <ion-icon name="hourglass-outline" class="icon icon-md"></ion-icon>
            Duration: {{ getDuration(person.inTime, person.outTime) }}
          </div>
        </div>

        <ion-badge
          class="status-badge"
          [color]="person.inTime && person.outTime ? 'success' : person.inTime ? 'warning' : 'medium'"
        >
          {{
            person.inTime && person.outTime
              ? 'Completed'
              : person.inTime
              ? 'In Progress'
              : 'Not Marked'
          }}
        </ion-badge>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #noData>
    <div class="no-records-container">
      <ion-card class="no-records-card">
        <ion-card-header class="ion-text-center">
          <ion-card-title>
            <ion-icon name="reader-outline"></ion-icon>
             No Records</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <p>Oops! You haven't marked your attendance yet.<br>Start your day by checking in.</p>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-template>
</ion-content>
