.student-card {
  // border-radius: 20px;
  // box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  // margin: 10px 16px;
  transition: transform 0.2s;
}

.student-card:hover {
  transform: scale(1.01);
}

.avatar-circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.name {
  font-weight: 600;
  font-size: 1rem;
}

.id {
  font-size: 0.85rem;
  color: gray;
}

.empty-state {
  text-align: center;
  margin-top: 3rem;
  color: #888;
}

.empty-state img {
  opacity: 0.6;
  margin-bottom: 1rem;
}

.fab-label {
  background: white;
  color: #28a745;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 0.75rem;
  margin-right: 56px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-select {
  width: 120px;
}

.search-container-row {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.custom-searchbar {
  flex: 1;
}

.class-select {
  width: 100px;
  margin-left: auto; // Pushes to the far right
  border: 1px solid lightgray;
  padding-left: 10px;
  height: 30px;
  border-radius: 10px;
}

.custom-searchbar {
    --height: 60px;
  
    ion-input {
      font-size: 16px;
    }
  
    .searchbar-input-container {
      height: 100% !important;
      align-items: center;
    }
  
    .searchbar-input {
      height: 100% !important;
      padding: 12px !important;
    }
  }

  .searchbar-wrapper {
    height: 60px; // increase to your need
    padding-right: 10px;
  
    ion-searchbar {
      height: 100%;
      --height: 100%;
      --box-shadow: none;
  
      .searchbar-input-container {
        height: 100% !important;
      }
  
      .searchbar-input {
        height: 100% !important;
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }
  