<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Dashboard</ion-title>
    <ion-buttons slot="end" style="margin-right: 0.875rem;">
      <ion-icon class="notifications icon-md" name="notifications-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="dashboard-bg pb-3">
  <ion-card>
    <ion-item lines="none" class="custom-avatar-item  welcome-card">
      <ion-avatar slot="start" class="custom-avatar">
        <img src="assets/images/dashboard/profile.jpg" alt="Principal" />
      </ion-avatar>
      <ion-label style="padding-top: 1.25rem; padding-bottom: 1.25rem;">
        <h2>Welcome</h2>
        <h1>{{user?.name}}</h1>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-grid>
    <ion-row *ngIf="isPrincipal">
      <ion-col size="6" size-sm="12" (click)="goToTotalEmployee()">
        <ion-card class="stat-card employees-card">
          <ion-card-header>
            <ion-card-title>Total Employees</ion-card-title>
            <p *ngIf="totalEmployee">{{totalEmployee.total || 0}}</p>
            <small>Current Year</small>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-sm="12" (click)="goToPresentEmployee()">
        <ion-card class="stat-card present-employees-card">
          <ion-card-header>
            <ion-card-title>Present Employees</ion-card-title>
            <p *ngIf="totalEmployee">{{totalEmployee.presentCount || 0}}</p>
            <small>Today</small>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isPrincipal">
      <ion-col size="6" size-sm="12">
        <ion-card class="stat-card students-card">
          <ion-card-header>
            <ion-card-title>Total Students</ion-card-title>
            <p>4</p>
            <small>Current Year</small>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-sm="12">
        <ion-card class="stat-card present-students-card">
          <ion-card-header>
            <ion-card-title>Present Students</ion-card-title>
            <p>0</p>
            <small>Today</small>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- <ion-button expand="block" color="dark">
      <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
      Upload Event/Circular
    </ion-button> -->

    <ion-button expand="block" color="dark" (click)="markAttendance()">
      <ion-icon name="checkbox-outline" slot="start"></ion-icon>
      Mark Attendance
    </ion-button>

    <ion-button expand="block" color="dark" (click)="goToMyAttendance()">
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      View My Attendance
    </ion-button>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tab-bar color="secondary">
      <ion-tab-button (click)="onClick('Dashboard')">
        <ion-icon name="apps-outline"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>
  
      <ion-tab-button *ngIf="isPrincipal" (click)="onClick('UploadEvent')">
        <ion-icon name="cloud-upload-outline"></ion-icon>
        <ion-label>Upload Event</ion-label>
      </ion-tab-button>
  
      <ion-tab-button *ngIf="isPrincipal" (click)="onClick('ViewEvent')">
        <ion-icon name="eye-outline"></ion-icon>
        <ion-label>View Event</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-toolbar>
</ion-footer>
