<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/apps/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Mark Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-button expand="block" (click)="startDetection()">
    Start
  </ion-button> -->
  <div class="camera-container">
    <div class="circle-frame"></div>
    <div *ngIf="capturedImage">
      <h2>Captured Image:</h2>
      <img [src]="capturedImage" width="200" />
    </div>
  </div>
  <ion-button expand="block" id="proceedBtn">
    Proceed
  </ion-button>
  <!-- <div class="camera-container">
    <video #videoElement autoplay playsinline></video>
    <canvas #canvasElement></canvas>
    <div class="overlay-circle"></div>
  </div>
  <ion-button expand="block" [disabled]="!isBlinkDetected" id="proceedBtn" (click)="proceed()">
    Proceed
  </ion-button> -->
</ion-content>