<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/apps/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Mark Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!successMessage" class="camera-container">
    <div class="circle-frame">
      <img *ngIf="capturedImage" [src]="capturedImage" alt="Selfie" />
    </div>
  </div>
  <div *ngIf="successMessage" class="success-message">
    <ion-text color="success">
      <p>{{ successMessage }}</p>
    </ion-text>
  </div>
</ion-content>