<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="notifications icon-md" name="notifications-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body dashboard-content">
  

  <!-- School Updates -->
  <ion-card>
    <ion-item lines="none" class="custom-avatar-item">
      <ion-avatar slot="start" class="custom-avatar">
        <img src="assets/images/dashboard/profile.jpg" alt="Student" />
      </ion-avatar>
      <ion-label>
        <h2 class="fs-title">Demo Student</h2>
        <p>Designation: Sr. Teacher</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <!-- Academics -->
  
  <div class="section">
    <div class="icon-grid">
      <ion-row class="centered-icons">
        <ion-col size="4" (click)="markAttendance()">
          <ion-card class="card">
            <ion-card-header>
              <img src="assets/images/dashboard/attendance.jpg" />
            </ion-card-header>
          
            <ion-card-content>
              <p class="fs-subtitle">Mark your attendance</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card">
            <ion-card-header>
              <img src="assets/images/dashboard/student_attendance.jpg" />
            </ion-card-header>
          
            <ion-card-content>
              <p class="fs-subtitle">Student attendance</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card">
            <ion-card-header>
              <img src="assets/images/dashboard/uploadhomework.jpg" />
            </ion-card-header>
          
            <ion-card-content>
              <p class="fs-subtitle">Upload Homework</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="icon-grid">
    <ion-row class="centered-icons">
      <ion-col size="4">
        <ion-card class="card">
          <ion-card-header>
            <img src="assets/images/dashboard/uploadclasswork.jpg" />
          </ion-card-header>
        
          <ion-card-content>
            <p class="fs-subtitle">Upload Classwork</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="card">
          <ion-card-header>
            <img src="assets/images/dashboard/uploadassignment.jpg" />
          </ion-card-header>
        
          <ion-card-content>
            <p class="fs-subtitle">Upload Assignment</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="card">
          <ion-card-header>
            <img src="assets/images/dashboard/seehw.jpg" />
          </ion-card-header>
        
          <ion-card-content>
            <p class="fs-subtitle">See Homework</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div class="section">
    <div class="icon-grid">
      <ion-row class="centered-icons">
        <ion-col size="4">
          <ion-card class="card">
            <ion-card-header>
              <img src="assets/images/dashboard/seeClasswork.jpg"  style="width: 2.75rem; height: 2.75rem;"/>
            </ion-card-header>
          
            <ion-card-content>
              <p class="fs-subtitle">See Classwork</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card">
            <ion-card-header>
              <img src="assets/images/dashboard/attendanceLog.jpg" />
            </ion-card-header>
          
            <ion-card-content>
              <p class="fs-subtitle">Attendance Logs</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card">
            <ion-card-header style="height: 6rem;">
              <img src="assets/images/dashboard/up.jpg" />
            </ion-card-header>
          
            <ion-card-content>
              <p class="fs-subtitle">Upcoming!</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>

  
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-tab-bar>
      <ion-tab-button tab="home">
        <ion-icon class="icon-md" name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="assignment">
        <ion-icon class="icon-md" name="document-outline"></ion-icon>
        <ion-label>Assignment</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="homework">
        <ion-icon class="icon-md" name="book-outline"></ion-icon>
        <ion-label>Homework</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="fee">
        <ion-icon class="icon-md" name="card-outline"></ion-icon>
        <ion-label>Pay Fee</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-toolbar>
</ion-footer>