/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "@ionic/angular/css/core.css";
@import "bootstrap/dist/css/bootstrap.min.css";
/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

:root {
  --primary-color: #563d7c;
  --secondary-color: #9d0054;
  --primary-font-color: #ffffff;
  --over-layer-color: rgba(190, 186, 186, 0.8);
  --rem-to-px: 10px;
  --overdue-bg-color: #ff5151;
  --incomplete-bg-color: #ff9800;
  --upcoming-bg-color: #d5b60a;
  --incomplete-badge-bg-color: #f57c00;
  --overdue-badge-bg-color: #e53935;
  --upcoming-badge-bg-color: #a6860a;
  --overdue-badge-txt-color: #000000;
  --incomplete-badge-txt-color: #000000;
  --upcoming-badge-txt-color: #000000;
  --my-theme-bg: #2c3e50;
}

ion-header {
  --box-shadow: none !important;
  --border-width: 0 !important;
  box-shadow: none !important;
  border-bottom: none !important;
  padding-top: env(safe-area-inset-top);
}
ion-toolbar {
  --background: var(--ion-color-primary) !important;
}

ion-menu-button {
  color: white;
  font-size: 1.875rem;
}

ion-title {
  color: white;
}
ion-back-button {
  color: white;
}

.page-background {
  --background: url("/assets/background/theme2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.card-bg {
  background-image: url("/assets/background/card_theme1.jpg");
  background-size: cover;
  background-position: center;
  color: white; /* Optional: Text dikhne ke liye */
  border-radius: 0.75rem;
}

.hight-row {
  height: 2rem;
}

.dashboard-content {
  padding-bottom: calc(
    env(safe-area-inset-bottom) + 4.375rem
  ); // extra for footer
}

.custom-modal-class {
  --width: 90%;
  --max-width: 400px;
  --height: auto;
  --max-height: 80%;
  --border-radius: 20px;
  --box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  --background: #fff;

  &::part(content) {
    padding: 20px;
  }
}
.alert-style-modal .modal-wrapper {
  --width: 90%;
  --max-width: 300px;
  --border-radius: 12px;
  --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  --background: white;
  align-self: center;
}

.custom-alert {
  max-width: 31.25rem;
  border-radius: 0.75rem;
}

.custom-loading {
  --background: #e3edff;
  --spinner-color: var(--ion-color-primary);
  color: var(--ion-color-primary);
}

.custom-alert .alert-wrapper {
  width: calc(100% - 60px) !important;
  max-width: calc(100% - 60px) !important;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.custom-alert.success .alert-head {
  color: green;
  text-align: center;
}

.custom-alert.warning .alert-head {
  color: orange;
  text-align: center;
}

.custom-alert.danger .alert-head {
  color: red;
  text-align: center;
}

.custom-ok-button {
  color: green !important;
  font-weight: bold;
}

.custom-alert .alert-head {
  background-color: var(--ion-color-primary);
  color: white !important;
  text-align: left;
}
.custom-alert .alert-head .alert-title.sc-ion-alert-md {
  color: white !important;
}

// .custom-alert .alert-head .alert-title.sc-ion-alert-md {
//   padding-top: 0 !important;
// }

.toast-success {
  --background: #d4edda !important; /* Light green */
  --color: #155724 !important; /* Dark green text */
  text-align: center !important;
}

.toast-error {
  --background: #f8d7da !important; /* Light red */
  --color: #721c24 !important; /* Dark red text */
  text-align: center !important;
}

.toast-warning {
  --background: #fff3cd !important; /* Light orange */
  --color: #856404 !important; /* Dark orange text */
  text-align: center !important;
}

// dashbaord
.custom-avatar-item {
  display: flex;
  align-items: center;
}

.custom-avatar {
  --size: 5.625rem;
  width: 5.625rem;
  height: 5.625rem;
  --border-width: 0rem;
  border: none !important;
  box-shadow: none !important;
  border-color: white !important;
}

.custom-avatar img {
  object-fit: cover;
}

.custom-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fits well */
  border-radius: 50%; /* Keeps it circular */
}

ion-card {
  box-shadow: 0 0.063rem 0.25rem rgba(0, 0, 0, 0.1);
}

ion-badge {
  padding: 0.5rem;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94%; /* Adjust width as needed */
  max-width: 37.5rem; /* Prevents too wide UI */
  margin: 0.938rem auto; /* Center align */
  border-radius: 0.625rem;
  background: #fff;
  padding: 0.188rem; /* Reduce padding */
  border: 0.063 solid #ccc;
  transition: all 0.3s ease-in-out;
  height: 3.063rem; /* Reduced height */
 
}

/* Custom Styling for Search Bar */
.custom-searchbar {
  --background: transparent !important; /* Match container */
  --border-radius: 10px !important;
  --box-shadow: none !important; /* Prevents double shadow */
  --color: #333 !important;
  --placeholder-color: #888 !important;
  --clear-button-color: #ff6600 !important;
  --cancel-button-color: #ff6600 !important;
  border: 0.001rem solid lightgray ;
  border-radius: 0.313rem;
  width: 100%;
  font-size: 14px; /* Reduce font-size */
  padding: 6px; /* Reduce padding */

  height: 38px !important; /* Adjust height */
  transition: all 0.3s ease-in-out;
}

.alert-head.sc-ion-alert-md+.alert-message.sc-ion-alert-md{
  padding-top: 15px !important;
}
.no-records-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.no-records-card {
  width: 80%;
  max-width: 21.875rem; /* 350px = 21.875rem */
  border-radius: 0.75rem; /* 12px = 0.75rem */
}
